<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @book.nome %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author.nome %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category.nome %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @book.stock %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
