<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @reservation.book.nome %>
</p>

<p>
  <strong>Client:</strong>
  <%= @reservation.client.nome %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user.email %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
